.collapsibleContainer
{
    border: solid 1px #9BB5C1;

}

.collapsibleContainerTitle
{
    cursor:pointer;
}

.collapsibleContainerTitle div
{
    padding-top:5px;
    padding-left:10px;
    background-color:#9BB5C1;
    color:#607882;
}

.collapsibleContainerContent
{
    padding: 10px;
}
